//Neutral colors
$black: #0f0a0a;
$lightWhite: #fbfef9;
$green: #a6f002;

// Colors! Dark Theme
$purpleSecondary: #bb00e0;
$purplePrimary: #500060;

//Colors! For Light Theme
$lightBlue: #4482E5;
$lightTeal: #50c5b7;
$navy: #1c3144;

// Font families!
$monster: 'Creepster', cursive;
$primary: 'Source Sans Pro', sans-serif;

//Style stripping
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $primary;
    font-size: 2rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $lightWhite;
    font-weight: 600;
    background-image: linear-gradient(rgba(27, 0, 32, .8)), url(../assets/scaryBackground.jpg);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h2 {
    font-family: $primary;
    font-weight: 600;
    font-size: 2rem;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

//Global styles!
p {
    padding: 10px;
}

button {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    background-color: $purpleSecondary;
    border: 2px solid $purpleSecondary;
    color: $lightWhite;
    font-family: $primary;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;

    a {
        color: white;
    }

    &:hover,
    &:focus {
        background-color: $purplePrimary;
    }
}

.attributions {
    font-weight: 600;
}

.creepyFont {
    font-family: $monster;
    text-shadow: 2px 0px 0px  $purpleSecondary;
    font-size: 4rem;
}