.lightMode {
    background-image: linear-gradient(rgba(255, 255, 255, .5)), url(../assets/friendlyBackground.jpg);
    color: $navy;

    .scary {
        display: none;
    }

    .friendly {
        display: block;
    }

    h1 {
        color: $lightBlue;
        text-shadow: 3px 0px 0px $lightTeal;
    }
    
    .menu {

        ul {
            border: 4px solid $lightTeal;
            background-color: $green;

            div {
                li {
                    font-weight: 600;
                }

                .letter {
                    color: $lightBlue;
                    text-shadow: 3px 0px 0px  $lightTeal;
                }


                .diffBackground {
                    background-color: $lightBlue;

                    .letter {
                        color: $green;
                    }
                }

                .details {
                    color: $navy;
                }
            }
        }
    }

    .gameBoard {
        color: $navy;
    }

    .matchMessage,
    .playAgain {
        border: 4px solid $lightTeal;
    }

    button {
        border-radius: 10px;
        padding: 5px 10px;
        margin: 10px;
        background-color: $lightTeal;
        border: 2px solid $lightTeal;
        color: $navy;
        font-size: 1.8rem;
        cursor: pointer;

        a {
            color: $navy;
        }
    
        &:hover,
        &focus {
            background-color: $lightBlue;
            color: $navy;
        }
    }

    audio {
        background-color: $lightTeal; 
        border: 2px solid $lightTeal; 
        border-radius: 20px;
    }

    .creepyFont {
        text-shadow: 2px 0px 0px  $lightTeal;
    }

    footer {
        a {
            color: $lightBlue;
        }
    }

}