//menu (4 x 4 square) section
.menu {
    padding-top: 60px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;

    .info {
        margin: 10px;
    }

    ul {
        border: 4px solid $purpleSecondary;
        border-radius: 10px;
        height: 492px;
        width: 492px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: $purplePrimary;

        div{
            display: flex;

            .diffBackground {
                background-color: $green;

                &:first-of-type {
                    border-radius: 0 0 0 6px;

                    .details{
                        text-align: center;
                        border-radius: 0 0 0 6px;
                    }
                }

                &:last-of-type {
                    border-radius: 0 6px 0 0;

                    .details {
                        border-radius: 0 6px 0 0;
                    }
                }

                .letter {
                    color: $purplePrimary;
                }

                h2 {
                    color: $black;
                }
            }
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 242px;
            height: 242px;
            text-align: center;
            position: relative;
            &:hover .details,
            &:focus .details,
            &:focus-within .details{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
            }
            &:hover h2,
            &:focus h2 {
                display: none;
            }

            .letter {
                font-family: $monster;
                font-size: 10rem;
                color: $green;
                text-shadow: 3px 0px 0px  $purpleSecondary;
            }

            .details {
                height: 100%;
                z-index: 10;
                position: absolute;
                top: -10000px;
                background-color: white;
                color: $black;
                font-size: 1.8rem;
                opacity: 0.95;
                line-height: 1.3;
                text-align: left;
                font-weight: 400;
            }

            .first{
                border-radius:  6px 0 0 0;
            }

            .last {
                border-radius:  0 0 6px 0;
            }
        }
    }
}

.chooseLevel {
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;

    li {
        margin: 10px;
    }
}



//Game board section
.gameBoard {
    visibility: hidden;
    margin: 100px 0;
    background-color: rgba(251, 254, 279, 0.7);
    border-radius: 10px;
    margin: 0 auto;
    width: calc(100% + (2.5px * 6));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: $purplePrimary;
    position: relative;

        .board {
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 10px;
                height: 15vw;
                width: 10vw;
                min-height:150px;
                min-width: 100px;
                max-height:300px;
                max-width: 200px;
                margin: 2.5px;
                border: 4px solid transparent;
            }
        }

    .matchMessage {
        padding: 20px;
        max-width: 300px;
    }

    .playAgain {
        width: fit-content;
        padding: 50px;
        font-size: 2.5rem;
    }

    .matchMessage,
    .playAgain {
        background-color: $green;
        border: 4px solid $purpleSecondary;
        border-radius: 10px;
        z-index: 20;
        text-align: center;
        display: none;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
}


.song {
    margin: 50px 0;
    text-align: center;

    audio {
        background-color: $purpleSecondary; 
        border: 2px solid $purpleSecondary;
        border-radius: 20px;
    }
}