html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fbfef9;
  font-weight: 600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 0, 32, 0.8))), url(../assets/scaryBackground.jpg);
  background-image: linear-gradient(rgba(27, 0, 32, 0.8)), url(../assets/scaryBackground.jpg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

p {
  padding: 10px;
}

button {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
  background-color: #bb00e0;
  border: 2px solid #bb00e0;
  color: #fbfef9;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}

button a {
  color: white;
}

button:hover, button:focus {
  background-color: #500060;
}

.attributions {
  font-weight: 600;
}

.creepyFont {
  font-family: "Creepster", cursive;
  text-shadow: 2px 0px 0px #bb00e0;
  font-size: 4rem;
}

.mobile {
  display: none;
}

header {
  text-align: center;
  margin-bottom: 100px;
}

header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header .friendly {
  display: none;
}

header h1 {
  font-family: "Creepster", cursive;
  font-size: 10rem;
  margin: 0px;
  padding-top: 30px;
  color: #a6f002;
  text-shadow: 3px 0px 0px #bb00e0;
}

footer {
  text-align: center;
  font-size: 1.6rem;
  height: 35px;
}

footer a {
  color: #a6f002;
}

.menu {
  padding: 60px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.menu .info {
  margin: 10px;
}

.menu ul {
  border: 4px solid #bb00e0;
  border-radius: 10px;
  height: 492px;
  width: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #500060;
}

.menu ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu ul div .diffBackground {
  background-color: #a6f002;
}

.menu ul div .diffBackground:first-of-type {
  border-radius: 0 0 0 6px;
}

.menu ul div .diffBackground:first-of-type .details {
  text-align: center;
  border-radius: 0 0 0 6px;
}

.menu ul div .diffBackground:last-of-type {
  border-radius: 0 6px 0 0;
}

.menu ul div .diffBackground:last-of-type .details {
  border-radius: 0 6px 0 0;
}

.menu ul div .diffBackground .letter {
  color: #500060;
}

.menu ul div .diffBackground h2 {
  color: #0f0a0a;
}

.menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 242px;
  height: 242px;
  text-align: center;
  position: relative;
}

.menu ul li:hover .details,
.menu ul li:focus .details,
.menu ul li:focus-within .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.menu ul li:hover h2,
.menu ul li:focus h2 {
  display: none;
}

.menu ul li .letter {
  font-family: "Creepster", cursive;
  font-size: 10rem;
  color: #a6f002;
  text-shadow: 3px 0px 0px #bb00e0;
}

.menu ul li .details {
  height: 100%;
  z-index: 10;
  position: absolute;
  top: -10000px;
  background-color: white;
  color: #0f0a0a;
  font-size: 1.8rem;
  opacity: 0.95;
  line-height: 1.3;
  text-align: center;
  font-weight: 400;
}

.menu ul li .first {
  border-radius: 6px 0 0 0;
}

.menu ul li .last {
  border-radius: 0 0 6px 0;
}

.chooseLevel {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

.chooseLevel li {
  margin: 10px;
}

.gameBoard {
  visibility: hidden;
  margin: 100px 0;
  background-color: rgba(251, 254, 255, 0.7);
  border-radius: 10px;
  margin: 0 auto;
  width: calc(100% + (2.5px * 6));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  color: #500060;
  position: relative;
}

.gameBoard .board {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameBoard .board img {
  border-radius: 10px;
  height: 15vw;
  width: 10vw;
  min-height: 150px;
  min-width: 100px;
  max-height: 300px;
  max-width: 200px;
  margin: 2.5px;
  border: 4px solid transparent;
}

.gameBoard .matchMessage {
  padding: 20px;
  max-width: 300px;
}

.gameBoard .playAgain {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 50px;
  font-size: 2.5rem;
}

.gameBoard .matchMessage,
.gameBoard .playAgain {
  background-color: #a6f002;
  border: 4px solid #bb00e0;
  border-radius: 10px;
  z-index: 20;
  text-align: center;
  display: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.song {
  margin: 50px 0;
  text-align: center;
}

.song audio {
  background-color: #bb00e0;
  border: 2px solid #bb00e0;
  border-radius: 20px;
}

.lightMode {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5))), url(../assets/friendlyBackground.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5)), url(../assets/friendlyBackground.jpg);
  color: #1c3144;
}

.lightMode .scary {
  display: none;
}

.lightMode .friendly {
  display: block;
}

.lightMode h1 {
  color: #4482E5;
  text-shadow: 3px 0px 0px #50c5b7;
}

.lightMode .menu ul {
  border: 4px solid #50c5b7;
  background-color: #a6f002;
}

.lightMode .menu ul div li {
  font-weight: 600;
}

.lightMode .menu ul div .letter {
  color: #4482E5;
  text-shadow: 3px 0px 0px #50c5b7;
}

.lightMode .menu ul div .diffBackground {
  background-color: #4482E5;
}

.lightMode .menu ul div .diffBackground .letter {
  color: #a6f002;
}

.lightMode .menu ul div .details {
  color: #1c3144;
}

.lightMode .gameBoard {
  color: #1c3144;
}

.lightMode .matchMessage,
.lightMode .playAgain {
  border: 4px solid #50c5b7;
}

.lightMode button {
  background-color: #50c5b7;
  border: 2px solid #50c5b7;
  color: #1c3144;
  margin: 0 auto;
}

.lightMode button a {
  color: #1c3144;
}

.lightMode button:hover, .lightMode buttonfocus {
  background-color: #4482E5;
  color: #1c3144;
}

.lightMode audio {
  background-color: #50c5b7;
  border: 2px solid #50c5b7;
  border-radius: 20px;
}

.lightMode .creepyFont {
  text-shadow: 2px 0px 0px #50c5b7;
}

.lightMode footer a {
  color: #4482E5;
}

@media (hover: hover) {
  .gameBoard img:hover, .gameBoard img:focus {
    border: 4px solid #a6f002;
  }
}

@media only screen and (max-width: 1366px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    margin: 0 auto;
  }
  .menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 242px;
    height: 242px;
    text-align: center;
    position: relative;
  }
  .menu ul li h2 {
    display: none;
  }
  .menu ul li .letter {
    font-family: "Creepster", cursive;
    font-size: 10rem;
    color: #a6f002;
    text-shadow: 3px 0px 0px #bb00e0;
  }
  .menu ul li .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .gameBoard {
    padding: 10px;
  }
  .gameBoard .board img {
    border: none;
  }
  .gameBoard .board img:focus {
    outline: none;
  }
}

@media (max-width: 600px) {
  .menu ul {
    height: auto;
    width: auto;
    display: block;
  }
  .menu ul div .diffBackground:last-of-type .details {
    border-radius: 0;
  }
  .menu ul div .diffBackground:first-of-type {
    background-color: #500060;
  }
  .menu ul div .diffBackground:first-of-type .letter {
    color: #a6f002;
  }
  .menu ul div .diffBackground:first-of-type .details {
    border-radius: 0;
  }
  .menu ul li .first {
    border-radius: 6px 6px 0 0;
  }
  .menu ul li .last {
    border-radius: 0 0 6px 6px;
  }
  .menu ul li .letter:last-of-type {
    color: #500060;
  }
  .menu ul li:last-of-type {
    background-color: #a6f002;
  }
  .menu ul .green {
    border-radius: 0 0 6px 6px;
  }
  .menu div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chooseLevel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lightMode .menu ul div .diffBackground:first-of-type {
    background-color: #a6f002;
  }
  .lightMode .menu ul div .diffBackground:first-of-type .letter {
    color: #4482E5;
  }
  .lightMode .menu ul li .letter:last-of-type {
    color: #a6f002;
  }
  .lightMode .menu ul li:last-of-type {
    background-color: #4482E5;
  }
  .song audio {
    border: none;
  }
}

@media (max-width: 507px) {
  header h1 {
    font-size: 7rem;
  }
  .gameBoard .board img {
    min-height: 100px;
    min-width: 75px;
  }
}

@media (max-width: 400px) {
  .gameBoard .playAgain {
    padding: 10px;
  }
}
